<md-toolbar>
    <div class="md-toolbar-tools">

        <md-truncate style="position: absolute; left: 90px; right: 170px; top: 13px; bottom: 13px;">Documents</md-truncate>

        <span flex></span>
        <md-button class="md-raised" ng-click="toggleView('tile')" aria-label="TileView">
          TileView
        </md-button>
        <md-button class="md-raised" ng-click="toggleView('table')" aria-label="TableView">
          TableView
        </md-button>
        <md-button class="md-raised" ng-click="createNew()" aria-label="Create New">
          Create New
        </md-button>
    </div>
</md-toolbar>